venv3-weather
.vscode
**/__pycache__# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
backend/node_modules
backend/.pnp
backend/.pnp.js

# testing
backend/coverage

# production
backend/build

# misc
backend/.DS_Store
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*


frontend/.DS_STORE
frontend/node_modules
frontend/scripts/flow/*/.flowconfig
frontend/*~
frontend/*.pyc
frontend/.grunt
frontend/_SpecRunner.html
frontend/__benchmarks__
frontend/build/
frontend/remote-repo/
frontend/coverage/
frontend/.module-cache
frontend/fixtures/dom/public/react-dom.js
frontend/fixtures/dom/public/react.js
frontend/test/the-files-to-test.generated.js
frontend/*.log*
frontend/chrome-user-data
frontend/*.sublime-project
frontend/*.sublime-workspace
frontend/.idea
frontend/*.iml
frontend/.vscode
frontend/*.swp
frontend/*.swo
frontend/packages/react-devtools-core/dist
frontend/packages/react-devtools-extensions/chrome/build
frontend/packages/react-devtools-extensions/chrome/*.crx
frontend/packages/react-devtools-extensions/chrome/*.pem
frontend/packages/react-devtools-extensions/firefox/build
frontend/packages/react-devtools-extensions/firefox/*.xpi
frontend/packages/react-devtools-extensions/firefox/*.pem
frontend/packages/react-devtools-extensions/shared/build
frontend/packages/react-devtools-inline/dist
frontend/packages/react-devtools-shell/dist

react-boilerplate/npm-debug.log*
react-boilerplate/yarn-debug.log*
react-boilerplate/yarn-error.log*


react-boilerplate/.DS_STORE
react-boilerplate/node_modules
react-boilerplate/scripts/flow/*/.flowconfig
react-boilerplate/*~
react-boilerplate/*.pyc
react-boilerplate/.grunt
react-boilerplate/_SpecRunner.html
react-boilerplate/__benchmarks__
react-boilerplate/build/
react-boilerplate/remote-repo/
react-boilerplate/coverage/
react-boilerplate/.module-cache
react-boilerplate/fixtures/dom/public/react-dom.js
react-boilerplate/fixtures/dom/public/react.js
react-boilerplate/test/the-files-to-test.generated.js
react-boilerplate/*.log*
react-boilerplate/chrome-user-data
react-boilerplate/*.sublime-project
react-boilerplate/*.sublime-workspace
react-boilerplate/.idea
react-boilerplate/*.iml
react-boilerplate/.vscode
react-boilerplate/*.swp
react-boilerplate/*.swo
react-boilerplate/packages/react-devtools-core/dist
react-boilerplate/packages/react-devtools-extensions/chrome/build
react-boilerplate/packages/react-devtools-extensions/chrome/*.crx
react-boilerplate/packages/react-devtools-extensions/chrome/*.pem
react-boilerplate/packages/react-devtools-extensions/firefox/build
react-boilerplate/packages/react-devtools-extensions/firefox/*.xpi
react-boilerplate/packages/react-devtools-extensions/firefox/*.pem
react-boilerplate/packages/react-devtools-extensions/shared/build
react-boilerplate/packages/react-devtools-inline/dist
react-boilerplate/packages/react-devtools-shell/distreact-boilerplate