.App {
  text-align: center;
}

.react-datepicker__input-container > input{
  border-radius: 4px;
  box-shadow: inset 0 0 2px #eee;
  border: 1px solid #aaa;
  line-height: 16px;
  padding: 6px 10px 5px;
  margin: 0 4px;
}